body {
    font-family: Arial, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}
